<header>
    <nav class="navbar bg-danger">
      <div class="container">
        <h1 class="navbar-brand text-white">Animales</h1>
      </div>
    </nav>
  </header>
  
  <section class='container'>
    <div class="row">
      <article class="col col-lg-9">
        <p>
            ¿Qué es un animal? Para que un organismo se clasifique científicamente como animal deben tenerse en cuenta características a nivel celular, morfológico y fisiológico. No existe una definición breve para los animales, así que pasemos de una vez a ello.
            Los animales son organismos pluricelulares, heterótrofos, con células sin pared celular, con un sistema nervioso capaz de responder a estímulos externos, con células organizadas en tejidos y con la presencia de blástula durante su desarrollo embrionario.
            Bajo esta definición se clasifica a los organismos que cumplen con la mencionada descripción bajo el Reino Animalia. La evolución se construye a partir de lo que ya existe y es así como el Reino Animalia es el grupo evolutivamente más nuevo. Este es el reino al final de la historia evolutiva.
            El humano es entonces un animal que depende por completo de los reinos que lo preceden. Dependemos de las plantas, los hongos, las algas y de las bacterias. Los primeros animales evolucionaron en el mar durante el período Cámbrico, aproximadamente hace 525 millones de años. El grupo de los 
            animales se trata del reino más grande de todos los seres vivos. La mayoría son animales invertebrados y los más fuertes son cordados.
            Los animales pueden tener, o no, una estructura de soporte. Esta es la primera categoría que separa en dos a los animales. A continuación, vamos a ver más detalladamente la clasificación de los animales según su estructura vertebral, o no.
        </p>      
      </article>
      <article class="col bg-secondary text-white">
        <p>
            Los animales vertebrados tienen en su desarrollo embrionario la presencia de notocorda, un tipo de cordón neural, y se clasifican dentro del phylum Chordata. Dentro de la clasificación de animales vertebrados, esta notocorda puede:
            Crecer como columna vertebral: es el caso de los animales vertebrados que conocemos. Te dejamos más información sobre los Animales vertebrados: clasificación, características y ejemplos, aquí.
            
        </p>
      </article>
    </div>
  </section>
  
  <section class='container'>
    <div class='row'>
      <article class='col bg-success text-white'>
        Los herbívoros se alimentan de plantas, que comprende un gran abanico de posibilidades. Pueden ser frugívoros, polinívoros, xilófagos, granívoros o folívoros. Los que se alimentan directamente de hojas o tallos tienen la capacidad de degradar la celulosa, un componente que suele ser muy duro.
      </article>
      <article class='col'>
        Los animales carnívoros se alimentan únicamente de otros animales. Pueden ser depredadores activos o carroñeros. Como antagonista de los herbívoros, este grupo tampoco es de origen filogenético.
      </article>
      <article class='col bg-info text-white'>
        <p>
            La última clasificación de los animales según su alimentación se basa en todos aquellos que comen tanto a otros animales como a plantas. Esto les ayuda a ser más flexibles, una característica muy útil, por ejemplo, en animales principalmente carnívoros pero que carecen de opciones momentáneamente.
        </p>
      </article>
      <article class='col'>
        <p>
            La siguiente clasificación de los animales es según se hábitat. En este aspecto, podemos encontrarnos con animales terrestres, animales acuáticos y animales aeroterrestres. Vamos a verlos más detalladamente.
        </p>
      </article>
    </div>
  </section>
  
  <footer class='container-lg py-4 mt-4 text-center'>
    <span>Johan Rodrigo Cab Maas</span>
  </footer>