<section class='container d-flex gap-3 flex-column'>
    <article class='border border-dark p-1'>
      <h1 class='fs-2 text fw-bold'>Hello Word!!!</h1>
      <p>
        Un juego es un juego estructurado, generalmente realizado para el disfrute ya veces usado como una herramienta educativa. Los juegos son distintos del trabajo, que suele hacerse por remuneración, y del arte, que es más a menudo una expresión de elementos estéticos o ideológicos. Sin embargo, la distinción no es clara, y muchos juegos también se consideran trabajo o arte. 
    </p>
    </article>
    <article class='border border-dark p-1'>
      <h1 class='fs-2 text fw-bold'>Idea Secundaria</h1>
      <p>
        Los componentes clave de los juegos son metas, reglas, desafíos e interacción. Los juegos generalmente implican estimulación mental o física, y con frecuencia ambos. 
    </p>
    </article>
    <article class='border border-dark p-1'>
      <h1 class='fs-2 text fw-bold'>Idea Secundaria 2</h1>
      <p>
        Muchos juegos ayudan a desarrollar habilidades prácticas, sirven como una forma de ejercicio, o de otra manera desempeñan un papel educativo, simulacional o psicológico. 
    </p>
    </article>
  </section>
  
  <section class='container d-flex gap-5 flex-row mt-5 mb-5'>
    <article class='d-grid gap-2 mx-auto'>
      <h1 class='fs-3 text fw-bold'>Heading</h1>
      <p>
        El mundo del gaming es muy extenso e incluye aspectos como los eSports (no todos los videojuegos se consideran deportes electrónicos), el streaming, los eventos como las ferias, los videojuegos, las noticias del sector y los lanzamientos de los juegos de moda.  
      </p>
      <button type='button' class='btn btn-secondary'>More details>></button>
    </article>
    <article class='d-grid gap-2 mx-auto'>
      <h1 class='fs-3 text fw-bold'>Heading</h1>
      <p>Todos estos aspectos hacen que sea un poco difícil definir qué es un gamer ya que abarca demasiadas cosas. Se podría decir que desde el punto de vista profesional un gamer es aquel que gana dinero jugando a los videojuegos, pero si hablamos desde el punto de vista de los usuarios y la diversión se podría considerar a todos los videojuegos un gamer.
      </p>
      <button type='button' class='btn btn-secondary'>More details>></button>
    </article>
    <article class='d-grid gap-2 mx-auto'>
      <h1 class='fs-3 text fw-bold'>Heading</h1>
      <p>
       
        Ambos mundos se parecen en el sentido de que en determinados eventos y pruebas están abiertos a todo el mundo y participan tanto profesionales como jugadores ocasionales. Y es que en el atletismo, en pruebas y carreras como las maratones de Nueva York, Boston, Berlín o Tokio los corredores profesionales comparten espacio con la gente de la calle.
    </p>
      <button type='button' class='btn btn-secondary'>More Details>></button>
    </article>
  </section>